/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 13, 2022, 2:58:21 PM
    Author     : Admin
*/
form {
    text-align: center;
}
td {
    width: 150px;
}
table {
    margin-left: 100px;
}

