/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 12, 2022, 11:00:55 PM
    Author     : Admin
*/
header {
    text-align: center       
}
header img {
    width : 50%
}
form {
    text-align: center;
}
