<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="login.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
</head>

<body>
    <form action="authentication" method="POST">
        <div class="center">
            Campus: <select name="campus">
                <option>
                    FU-HL
                </option>
                <option>
                    FU-HCM
                </option>
                <option>
                    FU-DN
                </option>
            </select> <Br />
            Lecture Username: <input type="text" name="username" /> <br />
            Lecture Password: <input type="password" name="password" /> <br>
            <input class="button" type="submit" value="Login" />
        </div>

    </form>
</body>

</html>