<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="view/search/timetable.css" rel="stylesheet" type="text/css" />
        <title>Timetable</title>
    </head>
    <body>
        <form action="authentication" method="POST" style="text-align: center;font-family: cursive">
            Campus: <select name="campus">
                <option style="font-family: cursive">FU-HL</option>
            </select> <Br/>
            Lecture: <input type="text" name="lecture" value="username" style="font-family: cursive"  readonly/>
            <input type="submit" value="View" style="font-family: cursive"/> </br>
            <div style="font-weight: bold;font-size: 20px">Activities for username (Lecture Name)</div>
            <input type="submit" value="View Attendance" style="font-family: cursive;background-color: #fa9600;margin-left: -1000px "/> <br>
            <table border="2" style> 
                <tr style="background-color: #00dbdb">
                    <td style="background-color: #00dbdb">
                        Calendar <br/>
                        <input id="date" type="date" name="date"/>
                    </td >
                    <td style="background-color: #00dbdb">Mon, 27 Jun 2022</td>
                    <td style="background-color: #00dbdb">Tue, 28 Jun 2022</td>
                    <td style="background-color: #00dbdb">Wed, 29 Jun 2022</td>
                    <td style="background-color: #00dbdb">Thur, 30 Jun 2022</td>
                    <td style="background-color: #00dbdb">Fri, 1 Jul 2022</td>
                    <td style="background-color: #00dbdb">Sat, 2 Jul 2022</td>
                    <td style="background-color: #00dbdb">Sun, 3 Jul 2022</td>
                </tr> 

                <tr>
                    <td style="background-color: #fa9600">
                        Slot 1 <br>
                        7:30-9:00
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr>                       
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 2 <br>
                        9:10 - 10:40
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600"> 
                        Slot 3
                        10:40 - 12:20
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 4
                        12:50 - 14:20
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 5
                        14:30 - 16:00
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 6
                        16:10 - 17:40
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 7
                        17:50 - 19:20
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">

                        </a>
                    </td>
                </tr> 
            </table>
        </form>
    </body>
</html>
