<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="view/search/timetable.css" rel="stylesheet" type="text/css" />
        <title>Timetable</title>
    </head>
    <body>
        <form action="authentication" method="POST" style="text-align: center;font-family: cursive">
            Campus: <select name="campus">
                <option style="font-family: cursive">FU-HL</option>
            </select> <Br/>
            Lecture: <input type="text" name="lecture" value="username" style="font-family: cursive"  readonly/>
            <input type="submit" value="View" style="font-family: cursive"/> </br>
            <div style="font-weight: bold;font-size: 20px">Activities for username (Lecture Name)</div>
            <input type="submit" value="View Attendance" style="font-family: cursive;background-color: #fa9600;margin-left: -1000px "/> <br>
            <table border="2" style> 
                <tr style="background-color: #00dbdb">
                    <td style="background-color: #00dbdb">
                        YEAR <br/>
                        <select>
                            <option>2022</option>
                        </select>
                    </td >
                    <td style="background-color: #00dbdb">MON</td>
                    <td style="background-color: #00dbdb">TUE</td>
                    <td style="background-color: #00dbdb">WED</td>
                    <td style="background-color: #00dbdb">THUR</td>
                    <td style="background-color: #00dbdb">FRI</td>
                    <td style="background-color: #00dbdb">SAT</td>
                    <td style="background-color: #00dbdb">SUN</td>
                </tr>  

                <tr>
                    <td style="background-color: #00dbdb">
                        WEEK
                        <select>
                            <option>06/06-12/06</option>                            
                        </select>
                    </td>
                    <td style="background-color: #00dbdb">06/06</td>
                    <td style="background-color: #00dbdb">07/06</td>
                    <td style="background-color: #00dbdb">08/06</td>
                    <td style="background-color: #00dbdb">09/06</td>
                    <td style="background-color: #00dbdb">10/06</td>
                    <td style="background-color: #00dbdb">11/06</td>
                    <td style="background-color: #00dbdb">12/06</td>
                </tr>                 

                <tr>
                    <td style="background-color: #fa9600">
                        Slot 1
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr>                       
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 2
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600"> 
                        Slot 3
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 4
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 5
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 6
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 7
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
                <tr>
                    <td style="background-color: #fa9600">
                        Slot 8
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            MAS291-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                    <td>
                        <a href="attendance">
                            PRJ301-View Materials
                            at DE-C201
                        </a>
                    </td>
                </tr> 
            </table>
        </form>
    </body>
</html>
